.main__directory--wrapper {
  padding: 1.5rem;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}
.directory__wrapper--card {
    width: 210px;
    height: 16rem;
    border: #ff7900 solid 5px;
    background-color: #ffffff;
    margin: 1.5rem 0.7rem;
    padding: 1.5rem 0;
    text-align: center;
    border-radius: 1rem;
  }
  .main__directory--link {
    text-decoration: none;
  }
  .card__wrapper {
    width: 150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card__icon {
    font-size: 5.5rem;
    padding: 0 0 1rem;
    color: #ff7900;
  }
  .card__title {
    color: #212121;
    padding-bottom: 0.75rem;
    font-size: 24px;
  }
  .card__description {
    color: #575756;
  }

.card__info {
  display: none;
  @media (hover: hover){
    display: block;
    padding: 0.8rem 0.8rem 0 0.8rem;
    color: #ff7900;
  }
}

.card__more-info {
  display: none;
  @media (hover: hover){
    max-width: 30rem;
    height: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 99999999999;
    opacity: 0;
  }
}

.card__info:hover {
  @media (hover: hover){
    color: #ff9433;
  }
}

.more-info__text {
  padding-bottom: 1rem;
}

.projects:hover .card__more-info{
  @media (hover: hover){
    opacity: 1;
    height: auto;
    background-color: #ff9433;
    padding: 1.2rem;
    line-height: 1.3;
    text-align: left;
    border-radius: 1rem;
    color: #575756;
  }
}