.main__hero {
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 115, 0, 0.383),
      rgba(255, 115, 0, 0.589)
    ),
    url("../../img/headerBgn.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__hero--wrapper {
  padding: 3rem 0 0 2rem;
  max-width: 1400px;
  @media all and (min-width: 1200px){
    margin: 0 auto;
  }
}

.wrapper__motto {
  font-family: "PT Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  padding-top: 30px;
  color: #e8e8e8;
  @media all and (min-width: 1200px){
    padding-top: 5rem;
  }
}

.wrapper__description {
  padding-bottom: 3rem;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  @media all and (min-width: 1200px){
    padding-bottom: 5rem;
  }
}

.main__directory {
  width: 100%;
}