$color-white: #ffffff;
$color-soft-grey: #e8e8e8;
$color-shadow: #adadad;
$color-light-grey:#575756;
$color-dark-grey: #212121;
$color-black: #000000;

$color-light-orange: #ff9433;
$color-orange:#ff7900;

$color-brown-opacity-high: rgba(255, 115, 0, 0.383);
$color-brown-opacity-low: rgba(255, 115, 0, 0.589);
