.kaire__title {
  text-transform: uppercase;
}

.icon__container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #ff7900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-right {
  color: #ff7900;
}