@import "../styles/functions.scss";

.resources__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media all and (min-width: rem(768)) {
    width: 70%;
    margin: auto;
  }
  @media all and (min-width: rem(1280)) {
    width: 100%;
    margin: auto;
  }
}
.title{
  text-transform: capitalize;
}

.nav__bar__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(50);
  background: rgba(87, 87, 86, .7);
}

.nav__bar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 70%;
  max-width: 80%;
  margin: 0 auto;

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #FF7900;
    }
  }
}