@import "../styles/variables.scss";
@import "../styles/functions.scss";

.directory__wrapper--final {
  height: 16rem;
  border: $color-orange solid 5px;
  background-color: $color-white;
  margin: 1.5rem 0.7rem;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
  padding: rem(24) rem(21);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (min-width: rem(768)) {
    width: rem(500);
  }
}

.card__icon {
  font-size: 3rem;
  color: $color-orange;
}

.card__description {
  color: $color-light-grey;
  align-self: center;
  height: rem(200);
  overflow: scroll;
}

.main__directory--link {
  text-decoration: none;
  background: $color-orange;
  border: rem(3) solid $color-white;
  color: $color-white;
  width: rem(100);
  margin: 0 auto;
  padding: 2%;
  border-radius: rem(10);
  font-weight: bold;
  &:hover {
    background: $color-white;
    border: rem(3) solid $color-orange;
    color: $color-orange;
  }
}

.card__title {
  text-transform: capitalize;
}
