@import "../styles/variables.scss";
@import "../styles/functions.scss";

.directory__wrapper--final {
  border: $color-orange solid rem(5);
  background-color: $color-white;
  margin: 1.5rem 0.7rem;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
  padding: rem(24) rem(21);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (min-width: rem(768)) {
    width: rem(500);
  justify-content:space-between;
  box-shadow: 5px 10px 10px $color-shadow;}
  @media all and (min-width: rem(768)) {
    width: rem(500);
    min-height: 14rem;
  }
}

.card__icon {
  font-size: 3rem;
  color: $color-orange;
}

.card__description {
  color: $color-light-grey;
  align-self: center;
}

.main__directory--link {
  text-decoration: none;
  background: $color-orange;
  border: rem(3) solid $color-white;
  color: $color-white;
  width: rem(100);
  margin: 0 auto;
  padding: 8%;
  border-radius: rem(10);
  font-weight: bold;
  &:hover {
    background: $color-white;
    border: rem(3) solid $color-orange;
    color: $color-orange;
  }
  @media all and (min-width: rem(768)){
    padding: 3%;
  }
  @media all and (min-width: rem(1200)){
   padding: 2%; 
  }
}

.card__title {
  text-transform: capitalize;
  text-align: center;
}
