@import '../styles/variables.scss';

.directory__wrapper--final {
  height: 16rem;
  border: $color-orange solid 5px;
  background-color: $color-white;
  margin: 1.5rem 0.7rem;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
  padding: 24px 21px;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  box-shadow: 10px 10px 60px -19px rgba(0,0,0,0.75);
  @media all and (min-width: 768px){
    width: 500px;
  }
}

.card__icon {
  font-size: 3rem;
  color: $color-orange;
}

.card__description {
  color: $color-light-grey;
  align-self: center;
  height: 200px;
  overflow: scroll;
}

.main__directory--link {
  text-decoration: none;
  background: $color-orange;
  border: 3px solid $color-white;
  color: $color-white;
  width: 100px;
  margin: 0 auto;
  padding: 2%;
  border-radius: 10px;
  font-weight: bold;
  &:hover{
    background: $color-white;
    border: 3px solid $color-orange;
    color: $color-orange;
  }
}

.card__title {
  text-transform: capitalize;
}

