.main {
  font-family: "Open Sans", sans-serif;
  /* header 88 y footer 3 */
  min-height: calc(100vh - 88px - 3rem);
  background-color: #e8e8e8;
  @media all and (min-width: 1200px){
    /* 88 por el header y 6 por footer  */
    min-height: calc(100vh - 88px - 6rem);
  }
}

.bold-text {
  font-weight: bold;
  color: #fff;
}

ul {
  list-style: none;
}