.main {
  font-family: "Open Sans", sans-serif;
  /* header 88 y footer 3 */
  min-height: calc(100vh - 88px - 3rem);
  background-color: #e8e8e8;
  @media all and (min-width: 1200px){
    /* 88 por el header y 6 por footer  */
    min-height: calc(100vh - 88px - 6rem);
  }
}

.bold-text {
  font-weight: bold;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory__wrapper--card {
  width: 210px;
  height: 16rem;
  border: #ff7900 solid 5px;
  background-color: #ffffff;
  margin: 1.5rem 0.7rem;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 1rem;
}

.card__wrapper {
  width: 150px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}